<!DOCTYPE html>
<html>
<head>
	<title>Tribute to APJ Abdul Kalam</title>
	<link rel="stylesheet" type="text/css" href="./styles/reset.css">
	<link rel="stylesheet" type="text/css" href="./styles/tribute.css">
</head>
<body class="body1">
	<header><div id="header1" style="top: 0px"><a href="#">Dr. APJ Abdul Kalam</a></div><div id="low">-The Missile Man</div></header>
	
	<figure id="image">
		<img src="./images/apj.jpg" alt="APJ Abdul Kalam" width="90%">
		<figcaption>Dr. APJ Abdul Kalam speaking at a public meeting.</figcaption>
	</figure>
	<main>
		<div id="start1">
			A.P.J. Abdul Kalam, the 11th President of India and a pioneer of the country's space and missile programmes, passed away on July 27, 2015.He was awarded the Bharat Ratna in 1997, the Padma Vibhushan in 1990 and the Padma Bhushan in 1981.
		</div>
	<p id="para">Here's a detailed look at his achievements.
		A.P.J. Abdul Kalam (1931-2015) Timeline
		<ul id="tm">
			<li><strong> 1931:</strong> Born <strong>Avul Pakir Jainulabdeen Abdul Kalam</strong> on October 15, in <strong>Rameswaram, Tamil Nadu</strong>.</li>
			<li><strong> 1954:</strong> Graduates in <strong>Physics</strong> from <strong>Saint Joseph's College, Tiruchirappalli</strong>, in 1954.</li>
			<li><strong> 1960: Gains degree in <strong>Aeronautical Engineering</strong> from <strong>Madras Institute of Technology</strong>.</li>
			<li><strong> 1969:</strong> Transferred to <strong>ISRO</strong> from the <strong>DRDO</strong>.</li>
			<li><strong> 1980:</strong> <strong>India</strong> enters the space club by putting the <strong>Rohini satellite</strong> in the near earth orbit with the first indigenous <strong>Satellite Launch Vehicle (SLV-III)</strong>, developed under the stewardship of Dr. Kalam.</li>
			<li><strong> 1980s-1990s:</strong> As the chief of the <strong>Integrated Guided Missile Development Programme</strong>, he was responsible for the development and operationalisation of <strong>AGNI</strong> and <strong>PRITHVI Missiles</strong>.</li>
			<li><strong> 1992-1999:</strong> works as <strong>Chief Scientific Advisor</strong> to the <strong>PM</strong> and <strong>Secretary of the DRDO</strong>.</li>
			<li><strong> 1998:</strong> India conducts the <strong>Pokhran II nuclear</strong> tests in May with Dr. Kalam as the chief project coordinator.</li>
			<li><strong> 1999-2001:</strong> <strong>Principal Scientific Advisor</strong> to the <strong>Government of India</strong>.</li>
			<li><strong> 2002-2007:</strong> <strong>President of India</strong></li>
			<p>A.P.J. Abdul Kalam</strong> passes away
			The 11th <strong>President of India</strong>, widely acclaimed as the "<strong>people's President</strong>", passed away on July 27, 2015 after collapsing during a lecture at the <strong>Indian Institute of Management</strong> in Shillong.</p>
		</ul>
	</p>
	</main>
	<footer id="foot">If you have time, you should read more about this incredible human being on his<a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam"> Wikipedia</a> entry.</footer>
</body>
</html>